rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /destinations/{document} {
      // allow read, write: if false;
      allow read, write: if request.auth.uid != null;
    }

    match /groups/{document} {
      // allow read, write: if false;
      allow read, write: if request.auth.uid != null;
    }
  }
  
}
